
<div class="row">
<div class="col-md-6 mt-4">
    
    <h4>Rules before posting</h4>
    <p>1.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>2.Massa placerat duis ultricies lacus sed. Integer quis auctor elit sed vulputate.</p>
    <p>3.Amet nulla facilisi morbi tempus iaculis urna id volutpat lacus.</p>
    <p>4.At in tellus integer feugiat scelerisque varius morbi enim nunc. Aenean euismod elementum nisi quis eleifend. Purus sit amet luctus venenatis lectus.</p>
    <p>5.Consectetur lorem donec massa sapien faucibus et molestie ac.</p>
</div>





<div class="col-md-6  ">
<div class="card card-body mt-4 mb-2">
    <form action="/add" method="POST">
    <legend>Add movies</legend>
        <div class="form-group">
             <label for="Name">Name</label>
             <input type="type" class="form-control" name="name" required>
        </div>
         <div class="form-group">
             <label for="genre">Genre</label>
             <input type="type" class="form-control" name="genre" required>
        </div>
         <div class="form-group">
             <label for="language">Language</label>
             <input type="type" class="form-control" name="language" required>
        </div>
        
        <button type="submit" class="btn btn-success">Submit</button>
</form>

</div>
</div>
</div>
