 <!-- Portfolio Item Heading -->
<h1 class="my-4">Films
   <br/>
   <small>VINTAGE -- MODERN -- CONTEMPORARY</small>
</h1>

  <!-- Portfolio Item Row -->
  
<div class="row">
    <div class="col-md-8 mb-4">
      <img src="/images/Movies_end_of_year_2017.jpg" width="700" height="300" alt="">
    </div>

    <div class="col-md-4">
      <h4 class="my-3"><strong>Impact of films on society </strong></h4>
      <p>Society is reflected in movies and in turn movies influence society by changes in representations, challenging audience's morals and transforming viewers' opinions</p>
    </div>

</div>

<h3 class="my-4">GENRE SPECIFIC</h3>

<div class="row">


   
<div class="col-md-3 mb-4">
      <div class="card">
        <a href="/movies/Romance"><img class="card-img-top" src="/images/img1.jpg" alt="Card image" style="width:100%" height="195px" ></a>
        <div class="card-body">
          <h4>Romance</h4>
        </div>
      </div>
    </div>



<div class="col-md-3 mb-4">
      <div class="card">
        <a href="/movies/Mystery"><img class="card-img-top" src="/images/img2.jpg" alt="Card image" style="width:100%" height="195px" ></a>
        <div class="card-body">
          <h4>Mystery</h4>
        </div>
      </div>
    </div>



<div class="col-md-3 mb-4">
      <div class="card">
        <a href="/movies/Horror"><img class="card-img-top" src="/images/img3.jpg" alt="Card image" style="width:100%" height="195px" ></a>
        <div class="card-body">
          <h4>Horror</h4>
        </div>
      </div>
    </div>

<div class="col-md-3 mb-4">
      <div class="card">
        <a href="/movies/Drama"><img class="card-img-top" src="/images/img4.jpg" alt="Card image" style="width:100%" height="195px" ></a>
        <div class="card-body">
          <h4>Drama</h4>
        </div>
      </div>
    </div>
    

    <div class="col-md-3 mb-4">
      <div class="card">
        <a href="/movies/Thriller"><img class="card-img-top" src="/images/img5.jpg" alt="Card image" style="width:100%" height="195px" ></a>
        <div class="card-body">
          <h4>Thriller</h4>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card">
        <a href="/movies/Fantasy"><img class="card-img-top" src="/images/img6.jpg" alt="Card image" style="width:100%" height="195px" ></a>
        <div class="card-body">
          <h4>Fantasy</h4>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card">
        <a href="/movies/Children"><img class="card-img-top" src="/images/img7.jpg" alt="Card image" style="width:100%" height="195px" ></a>
        <div class="card-body">
          <h4>Children</h4>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card">
        <a href="/movies/Comedy"><img class="card-img-top" src="/images/img8.jpg" alt="Card image" style="width:100%" height="195px" ></a>
        <div class="card-body">
          <h4>Comedy</h4>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card">
        <a href="/movies/Crime"><img class="card-img-top" src="/images/img9.jpg" alt="Card image" style="width:100%" height="195px" ></a>
        <div class="card-body">
          <h4>Crime</h4>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card">
        <a href="/movies/Action"><img class="card-img-top" src="/images/img10.jpg" alt="Card image" style="width:100%" height="195px" ></a>
        <div class="card-body">
          <h4>Action</h4>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card">
        <a href="/movies/Adventure"><img class="card-img-top" src="/images/img11.jpg" alt="Card image" style="width:100%" height="195px" ></a>
        <div class="card-body">
          <h4>Adventure</h4>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card">
        <a href="/movies/Documentary"><img class="card-img-top" src="/images/img12.jpg" alt="Card image" style="width:100%" height="195px" ></a>
        <div class="card-body">
          <h4>Documentary</h4>
        </div>
      </div>
    </div>



   <div class="container">
  <h4>Don't like action in your romantic movie? Click below for single genre movies</h4>
  <a href="browse/Action"><button type="button" class="btn">Action</button></a>
  <a href="browse/Drama"><button type="button" class="btn btn-primary">Drama</button></a>
  <a href="browse/Thriller"><button type="button" class="btn btn-secondary">Thriller</button></a>
  <a href="browse/Sci-Fi"><button type="button" class="btn btn-success">Sci-Fi</button></a>
  <a href="browse/Action"><button type="button" class="btn btn-info">Action</button></a>
  <a href="browse/Documentary"><button type="button" class="btn btn-warning">Documentary</button></a>
  <a href="browse/Romance"><button type="button" class="btn btn-danger">Romance</button></a>
  <a href="browse/Horror"><button type="button" class="btn btn-dark">Horror</button></a>
   
</div>





 </div>
    